# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Environment
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/

# Build
dist/
build/

# Uploads
uploads/

# Outputs
outputs/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/
data/videos/aaaa169b-0476-4bb6-b623-ee1149012a33/original.mp4
